* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}
body, html {
  height: 100%;
  margin: 0%;
}

.navigation {
  display: flex;
  background-color: #00244a;
  color: white;
  justify-content: flex-end;
  gap: 4px;  
  font-weight: bold;
  height: 3rem;
  align-items: center;
  margin: 0;
}

.navigation a {
  font-size: 16px;
  flex-wrap: wrap;
}

ul.navigation {
  flex-wrap: wrap;
  
}

/*----Back Ground Image---*/
.bg-img {
  background-image:url(/home/greg/Desktop/landing-page/imgs/jaime-arrieta-OSzlbMcf9Hg-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 100px;
}

/*---Back ground text---*/
.text-box {
  color: #00244a;
  font: 16px;
  height: 500px;
  width: 320px;
  flex-wrap: wrap;
}

p, h1 {
  font-size: 40px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 400px;
}



li,a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
    padding: .5rem;

}

/*---gives opacity on mouse-over---*/
li:hover{
  opacity: 0.7;
}

.travel-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 20px;
  height: 25rem;
  flex-wrap: wrap;
}

 /*---enlarge img mouse over---*/
.travel-box :hover {
  transform: scale(1.04);
  flex-wrap: wrap;
  max-height: 100%;
 
}

img {
  height: 280px;
  width: 250px;
}

h2 {
  color: black;
}

.footer-logos {
    display: flex;
    justify-content: center;
    gap: 10px; 
    background-color: #00244a;
    bottom: 0;  
    position: fixed;
    width: 100%;
}

.fa {
    padding: 15px;
    font-size: 50px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
.fa:hover {
    opacity: 0.7;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
  }
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
.fa-instagram {
    background: #125688;
    color: white;
  }